#logo{
    animation-name: logo;
    animation-duration: 5s;
    /* Keeps logo displayed after animation ends */
    animation-fill-mode: forwards;
}
/* Animation fades in and becomes bigger */
@keyframes logo{
    from {
        width: 25px;
        opacity: 0;
    }
    to {
        width: 475px;
        opacity: 1;
    }
}

body{
    font-family: "Poppins", serif;
    /* Sets background to this color if image cannot be displayed */
    background-color: #f1f1f1;
    background-image: url("../images/concrete_seamless.png");
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav_links{ 
    display: flex;
    flex-direction: column;
}
/* Retains link color after being visited */
.nav_item a:visited{
    color: #0000EE;
}
.card > header{
    background-color: #288088;
    border: solid 2px #45ADAD;
    padding: 20px 0;
    border-radius: 50px 50px 0 0;
}
/* check me, the white border */
.card{
    display: flex;
    flex-direction: column;
    flex-basis: 450px;
    border-radius: 50px 50px 0 0;
}
.pricing{
    display: flex;
    /* Cards wrap to be on separate rows */
    flex-wrap: wrap;
    justify-content: center;
}
.gallery img{
    border: solid 10px #50C7C7;
    margin: 10px;
    width: 300px;
}
.gallery{
    display: flex;
    /* Images spread out based on screen size */
    flex-wrap: wrap;
    justify-content: center;
}
@media screen and (min-width: 900px) {
    header{
        display: flex;
        flex-direction: row;
        /* Spaces logo and nav links on opposite ends */
        justify-content: space-between;
    }
    .nav_links{
        display: flex;
        /*Direction of links adjusted to wider screen size*/
        flex-direction: row;
    }
    .pricing{
        display: flex;
        /* Cards centered around cross-axis */
        align-items: center;
    }
    .card{
        display: flex;
        flex-basis: 275px;
    }
    body > header{
        position: sticky;
        /* Header sticks to the top of the page */
        top: 0;
    }
}
/* Turns off animation to display the final logo style */
@media (prefers-reduced-motion: reduce) {
    #logo{
        animation: none;
        width: 475px;
    }
}
@media print{
    body{
        font-family: Arial, Helvetica;
        /* Removes background image to replace with a color */
        background-image: none;
        background-color: #f1f1f1;
    }
    /* Ensures that nav links can space around the full width of the header */
    nav{
        width: 100%;
    }
    .nav_links{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .pricing{
        display: flex;
        /* Places cards next to each other on one line */
        flex-wrap: nowrap;
        align-items: flex-end;
    }
    .card{
        display: flex;
        flex-basis: 325px;
        border: solid 2px #45ADDD;
    }
    /* Hides gallery heading but preserves the space it takes up*/
    #gallery{
        visibility: hidden;
    }
    /* Hides images in gallery without affecting the layout */
    .gallery{
        display: none;
    }
    /* Adds the thumbs up emoji to affirm package descriptions for each package*/
    .card li:nth-child(2)::after{
        content: '👍';
    }
}